---
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts"
import { getCollection } from "astro:content"

import MainLayout from "../../layouts/MainLayout.astro"
import List from "../../components/List.astro"

const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.created.valueOf() - b.data.created.valueOf()
)
---

<MainLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <h1 class="text-center py-4">Blog</h1>

  <List listItems={posts} slugPrefix="blog" />
</MainLayout>
