@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-3xl font-semibold mt-6 mb-3;
  }

  h2 {
    @apply text-2xl font-medium mt-6 mb-3 scroll-mt-[70px];
  }

  h3 {
    @apply text-xl font-medium mt-6 mb-2 scroll-mt-[70px];
  }

  h4 {
    @apply font-medium text-lg mt-4 mb-2;
  }

  h5 {
    @apply font-medium my-2;
  }

  p {
    @apply !leading-8;
  }

  a {
    @apply underline underline-offset-4 decoration-zinc-700 dark:decoration-zinc-500 decoration-2 break-words;
  }

  a:hover,
  a:focus {
    @apply decoration-zinc-500 dark:decoration-zinc-400 transition-all duration-300;
  }

  ul {
    @apply list-outside list-disc my-2 pl-8;
  }

  ol {
    @apply list-outside list-decimal my-2 pl-8;
  }

  ul ul,
  ol ol {
    @apply pl-4;
  }

  li {
    @apply my-2;
  }

  pre {
    @apply !bg-zinc-200/30 dark:!bg-zinc-900/30 border border-zinc-300 dark:border-zinc-700 p-4;
  }

  code {
    @apply text-light-highlight dark:text-dark-highlight font-light break-words text-sm;
  }

  .default-spacing p {
    @apply my-4 leading-7;
  }

  /* https://docs.astro.build/en/guides/syntax-highlighting/#setting-light-and-dark-mode-themes */
  html.dark .astro-code,
  html.dark .astro-code span {
    color: var(--shiki-dark) !important;
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
  }
}

@layer components {
  .menu-link {
    @apply no-underline;
  }

  .menu-link:hover,
  .menu-link:active {
    @apply underline underline-offset-4 decoration-black dark:decoration-zinc-400 decoration-2 transition-all duration-300;
  }

  .stack-list {
    @apply flex flex-row flex-wrap gap-2 my-2 pb-4 px-0;
  }

  .vertical-img {
    @apply max-w-full sm:max-w-[50%] md:max-w-[30%] flex mx-auto;
  }

  .vertical-img-group {
    @apply flex flex-col sm:flex-row sm:gap-4;
  }

  .table {
    @apply border border-zinc-300 dark:border-zinc-700;
  }

  .table th {
    @apply bg-zinc-200/30 dark:bg-zinc-900/30 border-r border-zinc-300 dark:border-zinc-700;
  }

  .table tr {
    @apply table-row leading-[28px] border-b border-zinc-300 dark:border-zinc-700;
  }

  .table td {
    @apply relative text-center border-r border-zinc-300 dark:border-zinc-700 px-2;
  }

  @keyframes pulsate {
    50% {
      opacity: 0.8;
    }
  }

  .animate-pulsate {
    animation: pulsate 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }
}
