---
import { SITE_TITLE } from "../consts"
---

<header
  class="fixed z-10 w-full bg-zinc-900/30 backdrop-blur-md transition-colors duration-200"
>
  <nav class="flex flex-row justify-between max-w-3xl mx-auto py-4 px-4">
    <a href="/" class="menu-link">Home</a>
    <div class="flex flex-row gap-4">
      <a href="/blog" class="menu-link">Blog</a>
      <a href="/projects" class="menu-link">Projects</a>
      <a
        href="https://github.com/stephenlunt"
        target="_blank"
        rel="noopener"
        class="menu-link">GitHub</a
      >
    </div>
  </nav>
</header>
