---
import type { CollectionEntry } from "astro:content"

interface Props {
  listItems: CollectionEntry<"projects">[] | CollectionEntry<"blog">[]
  slugPrefix: string
}

const { listItems, slugPrefix } = Astro.props
---

<ul class="!list-none">
  {
    listItems.map((item) => (
      <li class="pb-4">
        <div class="flex flex-col xs:flex-row justify-between items-baseline pb-2">
          <h2>
            <a href={`/${slugPrefix}/${item.slug}/`}>{item.data.title}</a>
          </h2>
          {item.data.created === "Ongoing" ? (
            <div class="font-mono">Ongoing</div>
          ) : (
            <div class="font-mono">
              {item.data.created.toLocaleString("default", { month: "short" }) +
                ", " +
                item.data.created.getFullYear()}
            </div>
          )}
        </div>
        <p>{item.data.description}</p>
      </li>
    ))
  }
</ul>
