---
import { type CollectionEntry, getCollection } from "astro:content"

import MainLayout from "@layouts/MainLayout.astro"

export async function getStaticPaths() {
  const projects = await getCollection("projects")
  return projects.map((project) => ({
    params: { slug: project.slug },
    props: project
  }))
}
type Props = CollectionEntry<"projects">

const project = Astro.props
const { Content } = await project.render()
---

<MainLayout {...project.data}>
  <article class="default-spacing">
    <h1 class="text-center py-4">{project.data.title}</h1>
    <Content />
  </article>
</MainLayout>
