---
import { getCollection, type CollectionEntry } from "astro:content"

import MainLayout from "@layouts/MainLayout.astro"

export async function getStaticPaths() {
  const projects = await getCollection("projects")
  return projects.map((project) => ({
    params: { slug: project.slug },
    props: project,
  }))
}

type Props = CollectionEntry<"projects">

const project = Astro.props
const { Content } = await project.render()
---

<MainLayout
  title={project.data.title}
  description={project.data.description}
  image={project.data.heroImage.url.src}
>
  <article class="default-spacing">
    <h1 class="text-center pt-6 pb-2">{project.data.title}</h1>
    <Content />
  </article>
</MainLayout>
