---
import { getCollection } from "astro:content"

import List from "@components/ux/List.astro"
import MainLayout from "@layouts/MainLayout.astro"

const projects = (await getCollection("projects")).sort(
  (a, b) =>
    (b.data.created === "Ongoing" ? Infinity : b.data.created.valueOf()) -
    (a.data.created === "Ongoing" ? Infinity : a.data.created.valueOf()),
)
---

<MainLayout
  title="Projects"
  description="Explore some of the projects I've created"
>
  <h1 class="text-center py-4">My Projects</h1>
  <List listItems={projects} slugPrefix="projects" />
</MainLayout>
