---
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts"
import { getCollection } from "astro:content"

import MainLayout from "../../layouts/MainLayout.astro"
import List from "../../components/List.astro"

const projects = (await getCollection("projects")).sort(
  (a, b) => b.data.created!.valueOf() - a.data.created!.valueOf()
)
---

<MainLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <h1 class="text-center py-8">My Projects</h1>

  <List listItems={projects} />
</MainLayout>
