---
import "@fontsource-variable/inter"

import type { CollectionEntry } from "astro:content"

import BaseHead from "../components/BaseHead.astro"
import Header from "../components/Header.tsx"

type Props = CollectionEntry<"blog">["data"]

const { title, description, heroImage } = Astro.props
---

<html lang="en-GB">
  <head>
    <BaseHead title={title} description={description} image={heroImage} />
  </head>

  <body class="bg-zinc-800 text-zinc-100">
    <Header client:load />
    <main class="max-w-3xl mx-auto py-16 px-4 z-10">
      <slot />
    </main>
  </body>
</html>
