---
import "@fontsource-variable/inter"

import type { CollectionEntry } from "astro:content"

import BaseHead from "../components/BaseHead.astro"
import Header from "../components/Header.astro"

type Props = CollectionEntry<"projects">["data"]

const { title, description, heroImage, created } = Astro.props
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body class="bg-zinc-800 text-white">
    <Header />
    <main class="max-w-3xl mx-auto pt-16 px-4">
      <slot />
    </main>
  </body>
</html>
