---
import "@fontsource-variable/inter"

import type { CollectionEntry } from "astro:content"

import BaseHead from "../components/BaseHead.astro"
import Header from "../components/Header.tsx"
import PageHero from "@components/PageHero.astro"

type Props = CollectionEntry<"projects">["data"]

const { title, description, heroImage } = Astro.props

const isHomePage = Astro.url.pathname === "/" ? true : false
---

<html lang="en-GB">
  <head>
    <BaseHead title={title} description={description} image={heroImage?.src} />
    {isHomePage && (
      <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "WebSite",
            "name": "Stephen Lunt",
            "alternateName": ["Stephen Lunt Portfolio", "stephen-lunt.dev"],
            "url": "https://stephen-lunt.dev"
        }
    </script>
    )}
  </head>

  <body class="bg-zinc-800 text-zinc-100">
    <Header client:load />

    {isHomePage && <PageHero />}
    
    <main class="max-w-3xl mx-auto py-16 px-4 z-10">
      <slot />
    </main>
  </body>
</html>
