---
import "@fontsource-variable/inter"

import type { CollectionEntry } from "astro:content"

import BaseHead from "../components/BaseHead.astro"
import Header from "../components/Header.tsx"
import PageHero from "src/components/PageHero"

type Props = CollectionEntry<"projects">["data"]

const { title, description, heroImage, created } = Astro.props
---

<html lang="en-GB">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body class="bg-zinc-800 text-zinc-100">
    <Header client:load />

    {Astro.url.pathname === "/" && <PageHero client:load client:only />}

    <main class="max-w-3xl mx-auto pt-16 px-4 z-10">
      <slot />
    </main>
  </body>
</html>
