---
import "@fontsource-variable/inter"

import BaseHead from "@components/head/BaseHead.astro"
import Header from "@components/navigation/Header"

type Props = {
  title: string
  description: string
  image?: string
}

const { title, description, image = "/placeholder-image.jpeg" } = Astro.props
---

<html lang="en-GB">
  <head>
    <BaseHead title={title} description={description} image={image} />
    <slot name="structured-data" />
  </head>
  <body class="bg-zinc-800 text-zinc-100">
    <Header client:load />
    <slot name="page-hero" />
    <main class="max-w-3xl mx-auto py-16 px-4 z-10">
      <slot />
    </main>
  </body>
</html>
