name: CI Jobs

on:
  pull_request:
    branches: [ main ]

jobs:
  verify-pr:
    name: Verify PR
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      contents: read
    steps:
      - name: Check out code using Git
        uses: actions/checkout@v6

      - name: Install tools & dependencies
        uses: ./.github/actions/setup-node-pnpm

      - name: Astro sync (generate types)
        run: pnpm astro sync

      - name: Format Check
        run: pnpm run format:check

      - name: Knip
        run: pnpm run knip

      - name: TS Check
        run: pnpm run ts-check

      - name: Run Astro Check
        run: pnpm run astro-check

      - name: Run build
        run: pnpm run build
